@import "../../styles/base";

.container {
  width: 100%;
  min-height: 100px;
  background-color: rgb(235, 235, 235);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 2em;

    a {
      text-decoration: none;

      h1 {
        font-size: 24px;
        color: $main-text;
      }
    }
  }
}
